.App {
  text-align: center;
  background: transparent;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container-fluid {
  text-align: center;
}

#signupHeader {
  text-align: center;
  box-shadow: none;
  color: whitesmoke;
}

.modal-content {
  border: none;
  background-color: transparent;
}

.error {
  color: red;
  font-weight: 600;
  margin-top: 30px;
}

#mini-mart-logo {
  border: none;
  border-radius: 0.5em;
  background: transparent;
  cursor: pointer;
  width: 25%;
  margin-right: 5%;
}

#home-btn {
  margin-right: 1%; 
}

#home-btn:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}

#admin-btn {
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  border: none;
}

#admin-btn:hover {
  color: #058f23;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

#register {
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  margin-left: 1%;
  border: none;
}

#register:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #058f23;
}

#log-btn {
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  margin-left: 1%;
  border: none;
}

#log-btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #058f23;
}

#inv-btn {
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  margin-left: 1%;
}

#inv-btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #058f23;
}

#mini-mart-logo:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #abd0f3;
  border-radius: 0.5em;
}

#home-icon:hover {
  border-radius: 0.5em;
  color: red;
  font-size: 25pt;
  transition: all 0.3s ease-in-out;
}

#logout {
  border: none ;
  background: transparent;
  background-color: rgb(207, 2, 2);
  color: whitesmoke;
  font-weight: bold;
  width: 30%;
  margin-left: 1%;
}

#logout:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #D22222;
  background: transparent;
  border: none;
}

#login-link {
  text-decoration: none;
  margin-top: 5%;
}

#home-link {
  text-decoration: none;
  margin-top: 5%;
}

#close-btn {
  border: solid ;
  background: transparent;
  color: #D22222;
  font-weight: bold;
  width: 20%;
}

#close-btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(207, 2, 2);
  color: whitesmoke;
  border: solid whitesmoke;
}

#alert {
  font-weight: bold #abd0f3;
  border: 1.5px solid rgb(207, 2, 2);
  border-radius: 1em;
}

#name_icon {
  color: black;
  font-size: 20pt;
}

#error {
  color: rgb(190, 18, 18)
}

#signup-btn {
  font-weight: bold;
  padding: 2%;
  background: -webkit-linear-gradient(#0606c3, #87a2ae);
}

#signup-btn:hover {
  background: -webkit-linear-gradient(#6b7e97, #e6e9eb);
  transition: all 0.3s ease-in-out;
  width: 20%;
  color: black;
}

#back-btn {
  background: -webkit-linear-gradient(#6b7e97, #e6e9eb);
  font-weight: bold;
  padding: 2%;
}

#back-btn:hover {
  background: -webkit-linear-gradient(#c30606, #dfbcbc);
  transition: all 0.3s ease-in-out;
  width: 20%;
}

#header {
  font-size: 175%;
  border-bottom: grey 2px solid;
  background-color: transparent;
}

.card {
  border: none;
}

#input-log {
  margin-bottom: 5%;
}

#logout-btn:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#home {
  color:#0606c3;
  text-decoration: none;
  font-size: 90%;
}

#home-icon {
  margin-right: 2%;
  width: 125%;
}

#btn-close {
  font-size: 200%;
  font-weight: bold;
  border: none;
  margin-top: -2.5%;
}

#btn-close:hover {
cursor: pointer;
transition: all 0.3s ease-in-out;
-webkit-background-clip: text;
-webkit-text-fill-color: #D22222;
}

#exampleModalLabel {
  width: 200%;
  text-align: center;
  font-weight: bold;
}

#scheduled_time {
  cursor: pointer;
}

#service-log-title {
  margin-bottom: -5%;
}

#login-modal {
  border: solid 0.5px black;
  border-radius: 1em;
  margin-top: 5%;
  margin-bottom: 10%;
}

#table-dash {
  width: 100%;
}

#dash-title {
  font-size: 20pt;
  font-weight: bold;
}

#register-modal {
  border: solid 0.5px black;
  border-radius: 1em;
  margin-bottom: 10%;
  margin-top: 5%;
}

#log-modal {
  border: solid 0.5px black;
  border-radius: 1em;
  margin-bottom: 10%;
  margin-top: 5%;
}

#login-pw {
  margin-bottom: 5%;
}

#un_label {
  margin-right: 5%;
}

#un_icon {
  color: black;
  font-size: 20pt;
}

#pw_label {
  margin-right: 5%;
}

#pw_icon {
  color: black;
  font-size: 20pt;
}

#driver_icon {
  color: rgb(189, 194, 200);
  font-size: 20pt;
}

#fuel_icon {
  color: chocolate;
  font-size: 20pt;
}

#fill_icon {
  color: #D22222;
  font-size: 20pt;
}

#cost_icon {
  color:#017713;
  font-size: 20pt;
}

#id_icon {
  color: chocolate;
  font-size: 20pt;
}

#tag_icon {
  color: #D22222;
  font-size: 20pt;
}

#quantity_icon {
  color:#017713;
  font-size: 20pt;
}

#costs_icon {
  color: yellow;
  font-size: 20pt;
}

#login-btn {
  border: none;
  background: transparent;
  font-weight: bold;
}

#logs-btn {
  border: none;
  background: none;
}

#login-btn:hover {
  color:rgb(252, 254, 254);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #abd0f3;
  border-radius: 0.5em;
}

#logs-btn:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#home:hover {
  color:rgb(6, 6, 195);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 105%;
}

#login {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 90%;
}

#login-icon {
  /* margin-right: 2%; */
  color: rgb(6, 6, 195);
}

#login:hover {
  color: #87a2ae;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#signup {
  color:rgb(6, 6, 195);
  text-decoration: none;
  font-size: 90%;
}

#signup-icon {
  margin-right: 2%;
}

#signup:hover {
  color: #87a2ae;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#footer-card {
  background: none;
  border: none;
}

#footer-title {
  font-size: 50%;
  justify-content: center;
  text-decoration: none;
}

#footer {
  border-radius: 0.5em;
  width: 100%;
  height: fit-content;
}

#yelp {
  text-decoration: none;
  color: #d32323;
  text-align: left;
}

#yelp:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
}

#ig {
  text-decoration: none;
  color: linear-gradient(rgb(131, 58, 180) 0%, rgb(191, 52, 131) 15%, rgb(225, 48, 108) 30%, rgb(247, 119, 55) 45%, rgb(252, 175, 69) 60%, rgb(64, 93, 230) 20%);
  text-align: right;
}

#ig:hover {
  transition: all 0.3s ease-in-out;
  color: rgba(128, 128, 128, 0.506);
}

#icon-link {
  margin-bottom: 2%;
}

#royal-icon {
  width: 20%;
}

#navbar {
  background: transparent;
  border: black solid 1px;
  border-radius: 0.25em;
  margin-top: 2%;
  width: auto;
}

#btn-home {
  background: transparent;
}

#nav-home {
  border-bottom: solid 1px black;
}

#nav-btns {
  background: transparent;
}

#login-un {
  margin-bottom: 2.5%;
}

#vehicle {
  margin-bottom: 2.5%;
}

#appointment {
  margin-bottom: 2.5%;
}

#client {
  margin-bottom: 2.5%;
}

#billed {
  margin-bottom: 2.5%;
}

#notes {
  margin-bottom: 2.5%;
}

#pw_login {
  font-weight: bold;
  background-color: #017713;
  color: whitesmoke;
}

#pw_login:hover {
  color:#017713;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: transparent;
  border: solid #017713;
}

#footer-bold {
  margin-bottom: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

.panel {
  background-color: white;
  display: none;
  overflow: hidden;
}

